﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
<nav class="navbar navbar-default">
    @Html.ActionLink("Главная", "Index", "Files", null, new { @class = "navbar-brand" })
    @*@Html.RouteLink("Главная", "Default", new { @class = "navbar-brand" })*@
</nav>
<div class="content-wrapper">
    <div class="content">
        @RenderBody()
    </div>
</div>
</body>
</html>