﻿@model XmlFilesManager.Models.File

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>Информация о файле</h2>

<div>
    <div>
        @Html.ActionLink("История изменений", "Index", "Logs", new {fileId = Model.Id}, null)
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChange)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default" href="@Url.Action("Index", "Files")">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Назад
    </a>
    <a class="btn btn-default" href="@Url.Action("Download", "Files", new {id = Model.Id})">
        <span class="glyphicon glyphicon-arrow-down"></span>
        Скачать
    </a>
    @*@Html.ActionLink("Скачать", "Download", new {id = Model.Id}, new {@class = "btn btn-default"})*@
    @Html.ActionLink("Изменить", "Edit", new {id = Model.Id}, new {@class = "btn btn-warning"})
</p>
