﻿@model IEnumerable<XmlFilesManager.Models.File>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>Список файлов</h2>

<p>
    <a class="btn btn-default" href="@Url.Action("Upload")">
        <span class="glyphicon glyphicon-plus"></span>
        Загрузить файл
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastChange)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastChange)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Просмотр", "Details", new { id=item.Id }, new { @class = "btn btn-info" })
        </td>
    </tr>
}

</table>
