﻿@model XmlFilesManager.Models.File

@{
    Layout = null;
}

<table class="table table-bordered table-condensed">
    <tr>
        <th>Версия</th>
        <td>@Html.DisplayFor(model => model.Version)</td>
    </tr>
    <tr>
        <th>Название</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <th>Дата изменения</th>
        <td>@Html.DisplayFor(model => model.LastChange)</td>
    </tr>
</table>