﻿
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2>Загрузить файл</h2>

@using (Html.BeginForm("Upload", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="upload" id="uploadFile"/>
        <div class="preview"></div>
    </div>
    <input class="btn btn-success" type="submit" value="Загрузить" />
    @Html.ActionLink("Отмена", "Index", "Files", new { @class = "btn btn-default" })
}

<script>
$().ready(function() {
    $("#uploadFile").change(function() {
        var files = document.getElementById('uploadFile').files;
        if (files.length !== 1 || window.FormData === undefined) {
            return;
        }

        var data = new FormData();
        data.append('uploadedFile', files[0]);

        $.ajax({
            url: "/Files/GetPreview",
            type: "POST",
            data: data,
            contentType: false,
            processData: false,
            beforeSend: function() {
                $(".preview").html('<span class="glyphicon glyphicon-time"></span> Подождите...');
            },
            success: function (result) {
                $(".preview").html(result);
            }
        });
    });
})
</script>

