﻿@model IEnumerable<XmlFilesManager.Models.Log>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Home/_Layout.cshtml";
    
}

<h2>История изменений файла "@ViewBag.FileName"</h2>

<table class="table">
    <tr>
        <th>
            Время
        </th>
        <th>
            Действие
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
        </tr>
    }

</table>

<a class="btn btn-default" href="@Url.Action("Details", "Files", new { id = ViewBag.FileId })">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Назад
</a>
