﻿.content-wrapper {
    text-align: center;
}

.content {
    width: 750px;
    display: inline-block;
    text-align: left;
}

.preview {
    margin: 5px 0;
}
.preview .table {
    width: 300px;
}

.alert {
    display: inline-block;
    padding: 8px 12px;
}
.alert ul {
    list-style-type: none;
    padding-left: 0;
}